body {
  background-color: #E5E5E5;
}



.view-container {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  margin: 8rem 0 8rem 8rem;

}


.dropdownlist {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3%;
}

.list-box {
  background-color: white;
  height: 3rem;
  width: 18rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  border-radius: 3px;
  transition: all ease 0.4s;
  color: #14213D;
}

.list-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#fixed-box {
  margin-bottom: 0.2rem;

}

#fixed-box,
#fixed-box:hover {
  display: flex;
  position: absolute;
  top: 6%;
  transform: none;
  transition: all ease 0.4s;

}

.options-container {
  padding: 0.5rem;
  position: relative;
  top: 0%;
  transition: all ease 0.4s;
}

.data-container {
  width: 60%;
  height: auto;
  border-radius: 5%;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}



.property {
  padding: 0.8rem;
  margin-bottom: 0.3rem;
  text-align: center;
  background-color: #FCA311;
  color: #14213D;
  transition: all ease 1s;
}

.property:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.name {
  border-radius: 45%;
}



body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background-color: #E5E5E5;


}

a {
  cursor: pointer;
}

#mainNavbar {
  border-radius: 5px;
  background-color: #14213D;

}

.nav-item {
  margin-right: 2rem;
  margin-bottom: auto;
}

.introo {
  position: fixed;
  top: 0;
  /* width: 100%;
  left: 5%; */
  z-index: 1;
}

.buttonNav {
  background-color: #FCA311;
  border-radius: 0.3rem;
  padding: 0.6em 1.3em;
  color: white;
  font-size: 1.1rem;
  transition-duration: 0.7s;
  border: 1px solid transparent;

}

.buttonNav:hover {
  background-color: #14213D;
  color: #FCA311;
  border: #FCA311 1px solid;
}


.subNav {
  height: 60px;
  margin-top: 0;
  padding: 5px;
}


.font1 {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}


.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.2em;
  transition: all ease 0.4s;
  transform: rotate(45deg);
}

.drop-list {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  color: black;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all ease 0.5s;
  padding: 0 5rem 1rem 1rem;
  border: 1px solid rgb(122, 131, 139);
  margin-top: 2.1rem;
}

.drop-link-arrow {
  display: flex;
  align-items: center;
}

.components {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.components:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(122, 131, 139);
}

.nav-link:hover {
  color: #FCA311;

}

.droplist-nav:hover .drop-list {
  opacity: 1;
  visibility: visible;
}

.introo2 {
  display: none;
}

.footer-image {
  margin-bottom: 12%;
  width: 7rem;
}

.footer-text {
  font-size: 0.875rem;
  color: #aab1b7;
  font-weight: 400;
  margin-bottom: 6%;
  line-height: 2;
}

.social-media-logos .logo {
  content: "\f39e";
  font-size: 1.2rem;
  color: #7d8597;
  background-color: none;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  border: 1px #7d8597 solid;
  margin-right: 6px;
  transition-duration: 0.4s;
}

.social-media-logos .google-logo {
  content: "\f39e";
  font-size: 1.2rem;
  color: #7d8597;
  background-color: none;
  border-radius: 60px;
  padding: 0.6rem 0.7rem;
  border: 1px #7d8597 solid;
  margin-right: 6px;
  transition-duration: 0.4s;
}



.social-media-logos .google-logo:hover {
  color: white;
  background-color: #FCA311;
  cursor: pointer;

}

.font10 {
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 5%;
}

.font10-subs {
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 2%;
}

.company-div a {
  line-height: 40px;
  font-size: 0.875rem;
  color: #aab1b7;
  font-weight: 400;
}

.form-div {
  background-color: #012a4a;
  border: 1px #7d8597 solid;
  padding: 3%;
  width: 100%;
  color: white;
}

.btn-subscribe {
  background-color: #FCA311;
  color: white;
}

.footer-area {

  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  width: 70%;
  margin-left: 15%;
}

.copyright-text {
  font-size: 0.875rem;
  color: #aab1b7;
  font-weight: 400;
  line-height: 2;
  margin-top: 9rem;
}

.color-text {
  color: #00D363;
  font-weight: bold;

}

.btn-input {
  position: relative;
  width: 100%;
}

#button-addon2 {
  position: absolute;
  right: 4px;
  height: 80%;
  top: 10%;
}

.actions-buttons {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
}

.are-you-sure {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  align-self: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  z-index: 10;
  display: none;
}

.are-you-sure p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  gap: 2rem;
  width: 100%;
}

#yes-button,
#no-button,
#ok-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: inherit;
  color: white;

}

#yes-button {
  background-color: #5cb85c;
}

#no-button {
  background-color: #d9534f;
}

.close-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.action {
  margin-bottom: 0.5rem;
}


.lightning-button {
  background-color: #FCA311;
  padding: 1em 2em;
  font-size: 1em;
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 2rem;
  color: black;

}

.lightning-button:hover {
  color: black;
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }

  .view-container {
    display: flex;
    flex-direction: column;
    margin: 8rem 0 8rem 0;
    justify-content: center;
    height: fit-content;
  }

  .dropdownlist {
    width: -webkit-fill-available;
    align-self: center;
  }

  .data-container {
    width: -webkit-fill-available;
    align-self: center;
    justify-content: space-between;
    margin: 0 2rem;
  }

  #fixed-box {
    position: relative;
  }

  .dropdownlist {
    margin-bottom: 2rem;
  }

  .introo {
    display: none;
  }
  .action{
    width: -webkit-fill-available;
  }

  .are-you-sure{
    width: 300px;
    top: 28%;
  }
}


@media (max-width: 786px) {

  html,
  body {
    font-size: 14px;
  }


}


@media (max-width: 575px) {

  body {
    font-size: 12px;
  }

  #mainNavbar {
    padding: 1rem;
  }

  .footer-image {
    width: 150px;
  }
}

@media(max-width:1375) {
  .slider-text {
    display: flex;
    justify-content: flex-start;
  }

}