body {
  background-color: #E5E5E5;
}



.view-container {
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  margin: 8rem 0 8rem 8rem;
}


.dropdownlist {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3%;
}

.list-box {
  background-color: #FCA311;
  height: 3rem;
  width: 15rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: 0.2rem;
  display: flex;
  border-radius: 3px;
  transition: all ease 0.4s;
  color: #14213D;
}

.list-box:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#fixed-box{
  margin-bottom: 0.2rem;

}

#fixed-box,
#fixed-box:hover {
  display: flex;
  position: absolute;
  top: 20%;
  transform: none;
  transition: all ease 0.4s;

}

.options-container {
  padding: 0.5rem;
  position: relative;
  top: 0%;
  transition: all ease 0.4s;
}

.data-container {
  width: 60%;
  height: auto;
  border-radius: 5%;
  overflow: hidden;
  background-color: #FCA311;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}



.property {
  border: 1px solid black;
  padding: 0.8rem;
  margin-bottom: 0.3rem;
  text-align: center;
  background-color: #14213D;
  color: #E5E5E5;
  transition: all ease 1s;
}

.property:hover {
  transform: scale(1.8);
  cursor: pointer;
}

.name {
  border-radius: 50%;
}



body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  background-color: #E5E5E5;


}

a {
  cursor: pointer;
}

#mainNavbar {
  border-radius: 5px;
  background-color: #14213D;

}

.nav-item {
  margin-right: 2rem;
  margin-bottom: auto;
}

.introo {
  position: fixed;
  top: 0;
  /* width: 100%;
  left: 5%; */
  z-index: 1;
}
.buttonNav {
  background-color: #FCA311;
  border-radius: 0.3rem;
  padding: 0.6em 1.3em;
  color: white;
  font-size: 1.1rem;
  transition-duration: 0.7s;
  border: 1px solid transparent;

}

.buttonNav:hover {
  background-color: #14213D;
  color: #FCA311;
  border: #FCA311 1px solid;
}


.subNav {
  height: 60px;
  margin-top: 0;
  padding: 5px;
}


.font1 {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
}


.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 0.2em;
  transition: all ease 0.4s;
  transform: rotate(45deg);
}

.drop-list {
  opacity: 0;
  visibility: hidden;
  background-color: white;
  color: black;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  transition: all ease 0.5s;
  padding: 0 5rem 1rem 1rem;
  border: 1px solid rgb(122, 131, 139);
  margin-top: 2.1rem;
}

.drop-link-arrow {
  display: flex;
  align-items: center;
}

.components {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

.components:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(122, 131, 139);
}

.nav-link:hover {
  color: #FCA311;

}

.droplist-nav:hover .drop-list {
  opacity: 1;
  visibility: visible;
}

.introo2 {
  display: none;
}

.footer-image {
  margin-bottom: 12%;
  width: 7rem;
}

.footer-text {
  font-size: 0.875rem;
  color: #aab1b7;
  font-weight: 400;
  margin-bottom: 6%;
  line-height: 2;
}

.social-media-logos .logo {
  content: "\f39e";
  font-size: 1.2rem;
  color: #7d8597;
  background-color: none;
  border-radius: 60px;
  padding: 0.5rem 1rem;
  border: 1px #7d8597 solid;
  margin-right: 6px;
  transition-duration: 0.4s;
}

.social-media-logos .google-logo {
  content: "\f39e";
  font-size: 1.2rem;
  color: #7d8597;
  background-color: none;
  border-radius: 60px;
  padding: 0.6rem 0.7rem;
  border: 1px #7d8597 solid;
  margin-right: 6px;
  transition-duration: 0.4s;
}



.social-media-logos .google-logo:hover {
  color: white;
  background-color: #FCA311;
  cursor: pointer;

}

.font10 {
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 5%;
}

.font10-subs {
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 2%;
}

.company-div a {
  line-height: 40px;
  font-size: 0.875rem;
  color: #aab1b7;
  font-weight: 400;
}

.form-div {
  background-color: #012a4a;
  border: 1px #7d8597 solid;
  padding: 3%;
  width: 100%;
  color: white;
}

.btn-subscribe {
  background-color: #FCA311;
  color: white;
}

.footer-area {

  padding-top: 5%;
  padding-bottom: 3%;
  display: flex;
  width: 70%;
  margin-left: 15%;
}

.copyright-text {
  font-size: 0.875rem;
  color: #aab1b7;
  font-weight: 400;
  line-height: 2;
  margin-top: 9rem;
}

.color-text {
  color: #00D363;
  font-weight: bold;

}

.btn-input {
  position: relative;
  width: 100%;
}

#button-addon2 {
  position: absolute;
  right: 4px;
  height: 80%;
  top: 10%;
}


