.application-form {
    margin-top: 10%;
}

.header {
    margin-left: 6%;
    font-size: 1.3rem;
}

.mini-header {
    margin-left: 6%;
    font-size: 1.1rem;
}

.form-group1 {
    margin-left: -7%;
    margin-top: -4%;
}

.asterik {
    color: #FCA311;
}