body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: #E5E5E5;

}


.login-body {
    background-color: #E5E5E5;
    width: 100%;
    height: fit-content;
    padding: 5% 5%;
}

.login-form {
    width: 35%;
    /* height: 100%; */
    background-color: white;
    margin: auto;
    border-radius: 7%;
    padding-bottom: 1rem;
}

.heading {
    padding-top: 6%;
    padding-bottom: 4%;
    font-weight: bold;
    color: #14213D;
}

.note {
    /* font-size: 1rem; */
    color: #787878;

}

.user-pass-form {
    margin-top: 4%;
}

.form-group {
    justify-content: center;
}

.btn-sign-in {
    background-color: #FCA311;
}

.sign-up-btn {
    color: #FCA311;
    /* font-size: 15px; */
}

.copyright {
    text-align: center;
    margin-top: 5%;
    font-size: 0.8125rem; /*13px = 0.8125 * 16px*/
}

.footer-area {
    padding-top: 5%;
    padding-bottom: 3%;
    display: flex;
    width: 70%;
    margin-left: 15%;
}

.copyright-text {
    font-size: 0.875rem;
    color: #aab1b7;
    font-weight: 400;
    line-height: 2;
    margin-top: 8%;
}

.sec5 {
    background-color: #14213D;
    padding: 6rem 0 1rem 0;
}

.font10 {
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 5%;
}

.company-div a {
    line-height: 40px;
    font-size: 0.875rem;
    color: #aab1b7;
    font-weight: 400;
}

.form-div {
    background-color: #14213D;
    border: 1px #7d8597 solid;
    padding: 3%;
    width: 100%;
    color: white;
}

.footer-text {
    font-size: 0.875rem;
    color: #aab1b7;
    font-weight: 400;
    margin-bottom: 6%;
    line-height: 2;
}

.btn-input {
    position: relative;
    width: 100%;
}

.font10-subs {
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 2%;
}

.btn-subscribe {
    background-color: #FCA311;
    color: white;
}

#button-addon2 {
    position: absolute;
    right: 4px;
    height: 80%;
    top: 10%;
    background-color: #FCA311;

}

.footer-image {
    margin-bottom: 12%;
    width: inherit;
    border-radius: 36%;
}



