.profile-img-row{
  display: flex;
  justify-content: flex-end;
}

.profile-img-row img{
  width: 150px;
}

.file-input-label {
  color: #FCA311;
  cursor: pointer;
}

.file-input-label:hover{
  color: #14213D;
  text-decoration: underline;
}