
.login-form {
    width: 47%;
}

.form-group,
.form-row {
    display: flex;
    justify-content: center;
}

.form-check-input {
    position: inherit;
    margin: 3%;
}

.form-check-label {
    margin-top: 1.5%;
}