.transaction-container {
  margin-top: 2rem;
  background-color: #F5F5F5;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  gap: 4rem;
  line-height: 0.6rem;
  transition: all ease 1s;
  /* 
  -webkit-box-shadow: -5px 10px 10px 2px rgba(20,33,61,0.72);
  -moz-box-shadow: -5px 10px 10px 2px rgba(20,33,61,0.72);
  box-shadow: -5px 10px 10px 2px rgba(20,33,61,0.72); */

}


.transaction-container:hover {
  transform: scale(1.1);

}

.t1,
.t2 {
  margin-top: 10rem;
}

.details-half {
  width: fit-content;
}



.property {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.property-label {
  width: 135px;
  font-weight: bold;
}

.property-value {
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 0.5rem;
}



.transaction-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.sec5 {
  margin-top: 8rem;
}





@media (max-width: 992px) {

  body {
    font-size: 14px;
  }

  .transaction-row {
    flex-direction: column;
    gap: 0;
  }

  .transaction-container {
    width: -webkit-fill-available;
    gap: 0;
    font-weight: normal;
    justify-content: space-evenly;
    margin: 1rem 1rem;
  }

  .t2 {
    margin-top: 1rem;
  }

  .t1 {
    margin-top: 4rem;
  }



}


@media (max-width: 786px) {}


@media (max-width: 575px) {

  body {
    font-size: 12px;
  }

  .transaction-container {
    font-size: 0.8rem;
  }

  .transaction-container {
    width: -webkit-fill-available;
    gap: 0;
    font-weight: normal;
  }

  .property-label {
    width: 100px;
  }

}